.about {
    background-image: url("../assets/about_background.png");
    display: flex;
    gap: 8px;
    padding-top: 16px;
    margin-top: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__card {
    width: 60%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.about__card-thumb {
    flex: 30%;
    width: 30%;
}

.about__card-titles {
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 32px 16px;
}

.about__card--line {
    width: 100%;
    margin-top: 4px;
    display: block;
    border: 1px solid #E15252;
}

@media (max-width: 800px) {
    .about__card-thumb, .about__card__title {
        flex: 100%;
    }

    .about__button {
        margin: 8px auto;
    }
}